<div class="col-lg-12" style="background-color: hsl(<%= @bg_color.join(', ')%>); padding-top: 30px">



<div class="col-lg-8 col-lg-offset-2">


<img src="<%= @event.image.thumb3.url %>" alt="" style="width: 1225px; padding: 10px"/>

<h4 style="margin-top:20px; margin-left: 10px; color: ; font-weight: bold; color: hsl(<%= @text_color.join(', ') %>)">
  NEWS
</h4>

<div class="col-lg-3" style="padding:10px 10px">
  <div class="news" style="height:320px; background-color: hsl(<%= @secondary_color.join(', ') %>)">
    <img src="http://starladder.com/content/uploads/2016/08/1472221930.0106-212x120.jpeg" style="width: 285px; height: 170px" alt="" />
    <p style="color: hsl(<%= @text_color.join(', ') %>); font-size: 14px; font-weight: bold; margin-left: 10px; margin-top: 10px">
      CS:GO
    </p>
    <p style="font-size: 18px; color: hsl(<%= @text_color.join(', ') %>); margin-left: 10px">
      Team X создали Heroic
    </p>
    <p style="margin-left: 10px; color: hsl(<%= @text_color.join(', ') %>)">
      Игроки датской команды создали собственную организацию.
    </p>
  </div>
</div>
<div class="col-lg-3" style="padding:10px">
  <div class="news" style="height:320px; background-color: hsl(<%= @secondary_color.join(', ') %>)">
    <img src="http://starladder.com/content/uploads/2016/08/1472221930.0106-212x120.jpeg" style="width: 285px; height: 170px" alt="" />
    <p style="color: hsl(<%= @text_color.join(', ') %>); font-size: 14px; font-weight: bold; margin-left: 10px; margin-top: 10px">
      CS:GO
    </p>
    <p style="font-size: 18px; color: hsl(<%= @text_color.join(', ') %>); margin-left: 10px">
      Team X создали Heroic
    </p>
    <p style="margin-left: 10px; color: hsl(<%= @text_color.join(', ') %>)">
      Игроки датской команды создали собственную организацию.
    </p>
  </div>
</div>

<div class="col-lg-3" style="padding:10px">
  <div class="news" style="height:320px; background-color: hsl(<%= @secondary_color.join(', ') %>)">
    <img src="http://starladder.com/content/uploads/2016/08/1472221930.0106-212x120.jpeg" style="width: 285px; height: 170px" alt="" />
    <p style="color: hsl(<%= @text_color.join(', ') %>); font-size: 14px; font-weight: bold; margin-left: 10px; margin-top: 10px">
      CS:GO
    </p>
    <p style="font-size: 18px; color: hsl(<%= @text_color.join(', ') %>); margin-left: 10px">
      Team X создали Heroic
    </p>
    <p style="margin-left: 10px; color: hsl(<%= @text_color.join(', ') %>)">
      Игроки датской команды создали собственную организацию.
    </p>
  </div>
</div>

<div class="col-lg-3" style="padding:10px">
  <div class="news" style="height:320px; background-color: hsl(<%= @secondary_color.join(', ') %>)">
    <img src="http://starladder.com/content/uploads/2016/08/1472221930.0106-212x120.jpeg" style="width: 285px; height: 170px" alt="" />
    <p style="color: hsl(<%= @text_color.join(', ') %>); font-size: 14px; font-weight: bold; margin-left: 10px; margin-top: 10px">
      CS:GO
    </p>
    <p style="font-size: 18px; color: hsl(<%= @text_color.join(', ') %>); margin-left: 10px">
      Team X создали Heroic
    </p>
    <p style="margin-left: 10px; color: hsl(<%= @text_color.join(', ') %>)">
      Игроки датской команды создали собственную организацию.
    </p>
  </div>
</div>

<div class="col-lg-12">
  <h4 style="margin-top:30px; font-weight: bold; color: hsl(<%= @text_color.join(', ') %>)">
    MATCHES
  </h4>
  <div class="col-lg-12" style="height:80px; background-color: hsl(<%= @secondary_color.join(', ') %>);margin-top: 10px">
    <div class="teams" style="margin-left: 39%; margin-top: 3px; width: 22%; clear: both; position: relative">
        <span style="position: absolute; left: -45%; top: 18%; font-size: 18px; color: hsl(<%= @text_color.join(', ') %>); font-weight: bold">Hellraisers</span>
        <span style="position: absolute; left: -29%; top: 54%; font-size: 14px; color: hsl(<%= @text_color.join(', ') %>);">Ukraine</span>
        <img src="https://s.starladder.com/uploads/tms/player/image/1077/thumb_72_b41375bd65f1c0c10dc9f397254c087b.png" alt="" />
      <img src="https://s.starladder.com/uploads/tms/player/image/1077/thumb_72_b41375bd65f1c0c10dc9f397254c087b.png" style="float: right" alt="" />
      <span style="position: absolute; left: 110%; top: 18%; font-size: 18px; color: hsl(<%= @text_color.join(', ') %>); font-weight: bold">Hellraisers</span>
      <span style="position: absolute; left: 110%; top: 54%; font-size: 14px; color: hsl(<%= @text_color.join(', ') %>);">Ukraine</span>
      <p style="font-weight: bold; font-size: 16px;clear: both; display: inline-block; position: absolute; top: 20%; left: 42%; color: hsl(<%= @text_color.join(', ') %>)">
        22:00
        <span style="display: block; font-size: 14px">22 aug</span>
      </p>
    </div>
  </div>
  <div class="col-lg-12" style="height:80px; background-color: hsl(<%= @secondary_color.join(', ') %>);margin-top: 1px">
    <div class="teams" style="margin-left: 39%; margin-top: 3px; width: 22%; clear: both; position: relative">
        <span style="position: absolute; left: -45%; top: 18%; font-size: 18px; color: hsl(<%= @text_color.join(', ') %>); font-weight: bold">Hellraisers</span>
        <span style="position: absolute; left: -29%; top: 54%; font-size: 14px; color: hsl(<%= @text_color.join(', ') %>);">Ukraine</span>
        <img src="https://s.starladder.com/uploads/tms/player/image/1077/thumb_72_b41375bd65f1c0c10dc9f397254c087b.png" alt="" />
      <img src="https://s.starladder.com/uploads/tms/player/image/1077/thumb_72_b41375bd65f1c0c10dc9f397254c087b.png" style="float: right" alt="" />
      <span style="position: absolute; left: 110%; top: 18%; font-size: 18px; color: hsl(<%= @text_color.join(', ') %>); font-weight: bold">Hellraisers</span>
      <span style="position: absolute; left: 110%; top: 54%; font-size: 14px; color: hsl(<%= @text_color.join(', ') %>);">Ukraine</span>
      <p style="font-weight: bold; font-size: 16px;clear: both; display: inline-block; position: absolute; top: 20%; left: 42%; color: hsl(<%= @text_color.join(', ') %>)">
        22:00
        <span style="display: block; font-size: 14px">22 aug</span>
      </p>
    </div>
  </div>
  <div class="col-lg-12" style="height:80px; background-color: hsl(<%= @secondary_color.join(', ') %>);margin-top: 1px">
    <div class="teams" style="margin-left: 39%; margin-top: 3px; width: 22%; clear: both; position: relative">
        <span style="position: absolute; left: -45%; top: 18%; font-size: 18px; color: hsl(<%= @text_color.join(', ') %>); font-weight: bold">Hellraisers</span>
        <span style="position: absolute; left: -29%; top: 54%; font-size: 14px; color: hsl(<%= @text_color.join(', ') %>);">Ukraine</span>
        <img src="https://s.starladder.com/uploads/tms/player/image/1077/thumb_72_b41375bd65f1c0c10dc9f397254c087b.png" alt="" />
      <img src="https://s.starladder.com/uploads/tms/player/image/1077/thumb_72_b41375bd65f1c0c10dc9f397254c087b.png" style="float: right" alt="" />
      <span style="position: absolute; left: 110%; top: 18%; font-size: 18px; color: hsl(<%= @text_color.join(', ') %>); font-weight: bold">Hellraisers</span>
      <span style="position: absolute; left: 110%; top: 54%; font-size: 14px; color: hsl(<%= @text_color.join(', ') %>);">Ukraine</span>
      <p style="font-weight: bold; font-size: 16px;clear: both; display: inline-block; position: absolute; top: 20%; left: 42%; color: hsl(<%= @text_color.join(', ') %>)">
        22:00
        <span style="display: block; font-size: 14px">22 aug</span>
      </p>
    </div>
  </div>
  <div class="col-lg-12" style="height:80px; background-color: hsl(<%= @secondary_color.join(', ') %>);margin-top: 1px">
    <div class="teams" style="margin-left: 39%; margin-top: 3px; width: 22%; clear: both; position: relative">
        <span style="position: absolute; left: -45%; top: 18%; font-size: 18px; color: hsl(<%= @text_color.join(', ') %>); font-weight: bold">Hellraisers</span>
        <span style="position: absolute; left: -29%; top: 54%; font-size: 14px; color: hsl(<%= @text_color.join(', ') %>);">Ukraine</span>
        <img src="https://s.starladder.com/uploads/tms/player/image/1077/thumb_72_b41375bd65f1c0c10dc9f397254c087b.png" alt="" />
      <img src="https://s.starladder.com/uploads/tms/player/image/1077/thumb_72_b41375bd65f1c0c10dc9f397254c087b.png" style="float: right" alt="" />
      <span style="position: absolute; left: 110%; top: 18%; font-size: 18px; color: hsl(<%= @text_color.join(', ') %>); font-weight: bold">Hellraisers</span>
      <span style="position: absolute; left: 110%; top: 54%; font-size: 14px; color: hsl(<%= @text_color.join(', ') %>);">Ukraine</span>
      <p style="font-weight: bold; font-size: 16px;clear: both; display: inline-block; position: absolute; top: 20%; left: 42%; color: hsl(<%= @text_color.join(', ') %>)">
        22:00
        <span style="display: block; font-size: 14px">22 aug</span>
      </p>
    </div>
  </div>
  <div class="col-lg-12" style="height:80px; background-color: hsl(<%= @secondary_color.join(', ') %>);margin-top: 1px">
    <div class="teams" style="margin-left: 39%; margin-top: 3px; width: 22%; clear: both; position: relative">
        <span style="position: absolute; left: -45%; top: 18%; font-size: 18px; color: hsl(<%= @text_color.join(', ') %>); font-weight: bold">Hellraisers</span>
        <span style="position: absolute; left: -29%; top: 54%; font-size: 14px; color: hsl(<%= @text_color.join(', ') %>);">Ukraine</span>
        <img src="https://s.starladder.com/uploads/tms/player/image/1077/thumb_72_b41375bd65f1c0c10dc9f397254c087b.png" alt="" />
      <img src="https://s.starladder.com/uploads/tms/player/image/1077/thumb_72_b41375bd65f1c0c10dc9f397254c087b.png" style="float: right" alt="" />
      <span style="position: absolute; left: 110%; top: 18%; font-size: 18px; color: hsl(<%= @text_color.join(', ') %>); font-weight: bold">Hellraisers</span>
      <span style="position: absolute; left: 110%; top: 54%; font-size: 14px; color: hsl(<%= @text_color.join(', ') %>);">Ukraine</span>
      <p style="font-weight: bold; font-size: 16px;clear: both; display: inline-block; position: absolute; top: 20%; left: 42%; color: hsl(<%= @text_color.join(', ') %>)">
        22:00
        <span style="display: block; font-size: 14px">22 aug</span>
      </p>
    </div>
  </div>
  <div class="col-lg-12" style="height:80px; background-color: hsl(<%= @secondary_color.join(', ') %>);margin-top: 1px">
    <div class="teams" style="margin-left: 39%; margin-top: 3px; width: 22%; clear: both; position: relative">
        <span style="position: absolute; left: -45%; top: 18%; font-size: 18px; color: hsl(<%= @text_color.join(', ') %>); font-weight: bold">Hellraisers</span>
        <span style="position: absolute; left: -29%; top: 54%; font-size: 14px; color: hsl(<%= @text_color.join(', ') %>);">Ukraine</span>
        <img src="https://s.starladder.com/uploads/tms/player/image/1077/thumb_72_b41375bd65f1c0c10dc9f397254c087b.png" alt="" />
      <img src="https://s.starladder.com/uploads/tms/player/image/1077/thumb_72_b41375bd65f1c0c10dc9f397254c087b.png" style="float: right" alt="" />
      <span style="position: absolute; left: 110%; top: 18%; font-size: 18px; color: hsl(<%= @text_color.join(', ') %>); font-weight: bold">Hellraisers</span>
      <span style="position: absolute; left: 110%; top: 54%; font-size: 14px; color: hsl(<%= @text_color.join(', ') %>);">Ukraine</span>
      <p style="font-weight: bold; font-size: 16px;clear: both; display: inline-block; position: absolute; top: 20%; left: 42%; color: hsl(<%= @text_color.join(', ') %>)">
        22:00
        <span style="display: block; font-size: 14px">22 aug</span>
      </p>
    </div>
  </div>

</div>






<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
</div>
</div>
