<!DOCTYPE html>

<html>
    <head>
        <title>Blog</title>
        <%= csrf_meta_tags %>

        <!-- Latest compiled and minified CSS -->
        <!-- Latest compiled and minified JavaScript -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
        <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
        <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>


    </head>

    <body>
      <nav class="navbar navbar-inverse">
        <div class="container-fluid">
          <div class="navbar-header">
            <a href="<%= root_path %>" style="color: black; font-size: 20px; font-weight: bold; float: left; padding: 11px" class="brand">
              <p class="word-logo" style="background-color:white; padding: 0px 8px; display: inline-block; margin-bottom: 0">
                S
              </p>
              <p class="word-logo" style="background-color:white; padding: 0px 8px; display: inline-block; margin-bottom: 0;margin-left: -1.5px">
                K
              </p>
              <p class="word-logo" style="background-color:white; padding: 0px 8px; display: inline-block; margin-bottom: 0;margin-left: -1.5px">
                F
              </p>
            </a>
          </div>
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
              <% if user_signed_in? %>
              <li id="create"><%= link_to 'Create Post', new_article_path %></li>
              <% end %>
              <li id="event"><a href="/events/1">Event</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">

              <% if user_signed_in? %>

                <li><p class="navbar-text">Hello! <%= current_user.username %></p></li>
                <li><%= button_to 'Sign Out', destroy_user_session_path, method: 'delete', class: "btn btn-default navbar-btn" %></li>

              <% else %>
                  <li><%= button_to 'Sign In', new_user_session_path, class: "btn btn-default navbar-btn", style: 'margin-right: 10px', method: 'get' %></li>
                  <li><%= button_to 'Sign Up', new_user_registration_path, class: "btn btn-success navbar-btn", style: 'color: white', method: 'get' %></li>
              <% end %>

            </ul>
        </div>
      </div>
      </nav>



      <%= yield %>

      <!-- <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p> -->
      <script>
      $(document).ready(function () {
        $(function(){
          var current_page_URL = location.href;

          $( "a" ).each(function() {

          if ($(this).attr("href") !== "#") {

              var target_URL = $(this).prop("href");

                  if (target_URL == current_page_URL) {
                      $('nav a').parents('li, ul').removeClass('active');
                      $(this).parent('li').addClass('active');

                      return false;
                  }
          }
      }); }); });
    </script>
    <script>
          $(function() {
              $('#edit').froalaEditor()
          });
      </script>
    </body>
</html>
